.container-summary {
    background-color: darkgray;
    color: aliceblue;
    height: 300px;
    width: 20%;
    border-radius: 5%;
}

.container-summary .buton {
    margin: 10% 5%;
    text-align: center;
    width: 90%;
}